@model ModelLibrary.Models.Questions.Question

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h2>Question</h2>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
         
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Html.DisplayTextFor(model => model.Text) ))
            @*@Html.DisplayFor(model => model.Text)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DifficultyLevel.Difficulty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Topic.Name)
        </dd>
    </dl>

    @{
        var optionNum = 0;
    }
    @foreach (var option in Model.Options)
    {
        optionNum++;
        <h4>Option @optionNum</h4>
        <hr/>
        <dl class="row">
            <dt class="col-sm-2">
            
                @Html.DisplayName(nameof(option.Text))adasdasd
            </dt>
            <dd class="col-sm-10">
                @*@option.Text*@
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(option.Text))
            </dd>
            <dt class="col-sm-2">
                
                @Html.DisplayName(nameof(option.Correct))
            </dt>
            <dd class="col-sm-10">
               
                @Html.CheckBox(nameof(option.Correct), option.Correct, new { @disabled = "disabled" })
            </dd>
        </dl>
        <hr />
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
