@model ModelLibrary.Models.Exams.CandidateExam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CandidateExam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PercentScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PercentScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExamDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExamDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CandidateScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CandidateScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
